@model IEnumerable<MvcCoreElastiCacheAWS.Models.Coche>

@{
    ViewData["Title"] = "Index";
}

<h1>LIST COCHES ELASTICACHE</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCoche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCoche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
               <img src="@item.Imagen" class="w-25 y-25"/>
            </td>
            <td>
             <a asp-action="Details" asp-controller="Coches" asp-route-id="@item.IdCoche">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
